<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<th:block layout:fragment="css">
  <style>
    a {
      text-decoration:none;
    }
  </style>
</th:block>
<th:block layout:fragment="script">
  <script th:inline="javascript">

  </script>
</th:block>

<div layout:fragment="content">
  <section class="mt-5 p-3 container">
    <h3 class="text-center mb-3"><b th:text="${bookDetail.title}"></b></h3>
    <p class="text-center mb-5"><small class="text-secondary">저자</small> <span th:text="${bookDetail.author}" class="mr-3"></span>|<span th:text="${bookDetail.publisher}" class="ml-3"></span></p>

    <div class="row">
      <div class="col-md-6 col-12">
        <img th:src="${bookDetail.imageSrc}" style="width: 100%">
      </div>
      <div class="col-md-6 col-12">
        <span class="badge badge-pill badge-light">무료배송</span>
        <span class="badge badge-pill badge-light ml-2">소득공제</span> <br>
        <h5 class="mt-3"><b th:text="${bookDetail.discount}" class="price"></b>원</h5>

        <p>
        <p  th:text="${bookDetail.description}" class="description"></p>
            <small class="text-secondary detailBtn" style="visibility: hidden"><a data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample" href="#collapseExample">자세히보기</a></small>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <p th:text="${bookDetail.description}"></p>
          </div>
        </div>


        <p><small>ISBN : </small><small th:text="${bookDetail.isbn}"></small></p>

      </div>
    </div>
    <div class="container-fluid text-center bg-light p-3 mt-4 fixed-bottom">
      <span class="mt-3 mr-5">총 상품금액 <b th:text="${bookDetail.discount}" style="font-size: 20px" class="price"></b>원</span>
      <form action="/user/item/cart" method="post">
        <button type="submit" class="btn ml-5" style="background-color:rgb(103,167,47); color: white; width: 200px">장바구니</button>
      </form>
      <a href="/" class="btn ml-1" style="border:1px solid rgb(103,167,47); color: rgb(103,167,47); width: 200px">바로구매</a>
    </div>
  </section>
  <script>
    // let price_td = document.querySelector(".price")
    //
    // let price = price_td.innerHTML
    // price *= 1
    // if(price == 0) price_td.innerHTML = "절판"
    // else price_td.innerHTML = price.toLocaleString()
    let price_td = document.querySelectorAll(".price")

    for(let i = 0; i<price_td.length; i++) {
      let price = price_td[i].innerHTML
      price *= 1

      if(price == 0) price_td[i].innerHTML = "절판"
      else price_td[i].innerHTML = price.toLocaleString()
    }

    let length = document.querySelector(".description").innerHTML.length
    let s_descri = document.querySelector(".description").innerHTML

    if(length > 500) {
      document.querySelector(".description").innerHTML = s_descri.substring(0,500) + "...";
      document.querySelector(".detailBtn").style.visibility = "visible"
    }
  </script>
</div>
