<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

  <script th:inline="javascript">

    $(document).ready(function(){
        let price_td = document.querySelectorAll(".price")

        for(let i = 0; i<price_td.length; i++) {
            let txt_price = price_td[i].innerText
            txt_price *= 1

            if(txt_price == 0) price_td[i].innerText = "절판"
            else price_td[i].innerText = txt_price.toLocaleString()
        }

        checkAll();

      $("input[name=cartChkBox]").change( function(){
          getOrderTotalPrice();
      });
    });

    function getOrderTotalPrice(){
      var orderTotalPrice = 0;

      $("input[name=cartChkBox]:checked").each(function() {
        var cartBookId = $(this).val();
        var price = $("#price_" + cartBookId).attr("data-price").replace(",","");
        var count = $("#count_" + cartBookId).val()

        orderTotalPrice += price*count*1;
      });

      $("#orderTotalPrice").html(orderTotalPrice.toLocaleString() + '원');
    }

    function changeCount(obj){
      var count = obj.value;
      var cartBookId = obj.id.split('_')[1];
      var price = $("#price_" + cartBookId).attr("data-price").replace(",","");
      var totalPrice = count*price * 1;
      $("#totalPrice_" + cartBookId).html(totalPrice.toLocaleString());
      getOrderTotalPrice();
      updateCartBookCount(cartBookId, count);
    }

    function checkAll(){
      if($("#checkall").prop("checked")){
        $("input[name=cartChkBox]").prop("checked",true);
      }else{
        $("input[name=cartChkBox]").prop("checked",false);
      }
      getOrderTotalPrice();
    }

    function updateCartBookCount(cartBookId, count){
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      var url = "/cartBook/" + cartBookId+"?count=" + count;

      $.ajax({
        url      : url,
        type     : "PATCH",
        beforeSend : function(xhr){
          /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
          xhr.setRequestHeader(header, token);
        },
        dataType : "json",
        cache   : false,
        success  : function(result, status){
          console.log("cartBook count update success");
        },
        error : function(jqXHR, status, error){

          if(jqXHR.status == '401'){
            alert('로그인 후 이용해주세요');
            location.href='/members/login';
          } else{
            alert(jqXHR.responseJSON.message);
          }

        }
      });
    }

    function deleteCartBook(obj){
        debugger;
      var cartBookId = obj.dataset.id;
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      var url = "/cartBook/" + cartBookId;

        debugger;

      $.ajax({
        url      : url,
        type     : "DELETE",
        beforeSend : function(xhr){
          /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
          xhr.setRequestHeader(header, token);
        },
        dataType : "json",
        cache   : false,
        success  : function(result, status){
          location.href='/cart';
        },
        error : function(jqXHR, status, error){

          if(jqXHR.status == '401'){
            alert('로그인 후 이용해주세요');
            location.href='/members/login';
          } else{
            alert(jqXHR.responseJSON.message);
          }

        }
      });
    }

    function orders(){
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      var url = "/cart/orders";

      var dataList = new Array();
      var paramData = new Object();

      $("input[name=cartChkBox]:checked").each(function() {
        var cartBookId = $(this).val();
        var data = new Object();
        data["cartBookId"] = cartBookId;
        dataList.push(data);
      });

      paramData['cartOrderDtoList'] = dataList;

      var param = JSON.stringify(paramData);

      $.ajax({
        url      : url,
        type     : "POST",
        contentType : "application/json",
        data     : param,
        beforeSend : function(xhr){
          /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
          xhr.setRequestHeader(header, token);
        },
        dataType : "json",
        cache   : false,
        success  : function(result, status){
          alert("주문이 완료 되었습니다.");
          location.href='/orders';
        },
        error : function(jqXHR, status, error){

          if(jqXHR.status == '401'){
            alert('로그인 후 이용해주세요');
            location.href='/members/login';
          } else{
            alert(jqXHR.responseJSON.message);
          }

        }
      });
    }

  </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>

    .repImgDiv{
      margin-right:15px;
      margin-left:15px;
      height:auto;
    }
    .repImg{
      height:100px;
      width:100px;
    }
    .fs18{
      font-size:18px
    }

    table {
      width: 100%;
    }
  </style>
</th:block>

<div layout:fragment="content">

  <section class="container">
    <h3 class="mb-4 font-weight-bold">
      장바구니
    </h3>

    <div class="container">

      <table class="table">
        <colgroup>
          <col width="5%"/>
          <col width="80%"/>
          <col width="15%"/>
        </colgroup>
        <thead>
        <tr class="">
          <td>
            <input type="checkbox" id="checkall" onclick="checkAll()" checked>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartBook : ${cartBooks}">
          <td class="align-middle">
            <input type="checkbox" name="cartChkBox" th:value="${cartBook.cartBookId}">
          </td>
          <td class="d-flex">
            <div class="repImgDiv ">
<!--              align-self-center-->
              <img th:src="${cartBook.imageSrc}" class = "rounded repImg" th:alt="${cartBook.title}">
            </div>
            <div class="">
              <span th:text="${cartBook.title}" class="fs18 font-weight-bold"></span>
              <div class="fs18 font-weight-light">
                            <span class="input-group mt-2">
                                <span th:id="'price_' + ${cartBook.cartBookId}"
                                      th:data-price="${cartBook.price}"
                                      th:text="${cartBook.price}" class="align-self-center price mr-2">
                                </span><span>원</span>
                            </span>
              </div>
            </div>
          </td>
          <td class="text-center align-middle">
                    <span class="font-weight-bold price" th:id="'totalPrice_' + ${cartBook.cartBookId}"
                          name="totalPrice" th:text="${cartBook.price * cartBook.count}" style="font-size: 20px">
                    </span><span>원</span> <br>
            <input type="number" name="count" th:id="'count_' + ${cartBook.cartBookId}"
                   th:value="${cartBook.count}" min="1"
                   onchange="changeCount(this)" class="form-control mr-2 mt-2" >
          </td>
          <td><button type="button" class="close" aria-label="Close">
            <span aria-hidden="true" th:data-id="${cartBook.cartBookId}" onclick="deleteCartBook(this)">&times;</span>
          </button></td>

        </tr>
        </tbody>
      </table>

      <h3 class="text-center mt-4">
        총 주문 금액 : <span id="orderTotalPrice" class="text-danger price">0원</span>
      </h3>

      <div class="text-center mt-3">
        <button type="button" class="btn" style="background-color:rgb(103,167,47); color: white; width: 200px" onclick="orders()">주문하기</button>
      </div>

    </div>
  </section>

</div>

</html>