html {
    position: relative;
    min-height: 100%;
    margin:0;
}

body {
    min-height: 100%;
    color:black;
    font-font: "Roboto", "Noto Sans KR", "PingFang SC", "Apple SD Gothic Neo", "Microsoft YaHei UI", "Malgun Gothic", sans-serif;

}

a:hover:not(.navbar-brand) {
    border-bottom: 2px solid black;
}

.today_select img, .new_book img {
    box-shadow: 10px 10px 30px rgb(0 0 0 / 8%);
}

.ad img {
    border-radius: 10px;
    display: inline-block;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.content {
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

